<form action="" method="POST" id="forgotPass-form" name="forgotPass-form">
    <label for="usernameOrEmail" id="labelUsernameOrEmail" name="labelUsernameOrEmail">Enter your personal Email or Username associated with the acoount:</label>
    <input type="text" id="usernameOrEmail" name="usernameOrEmail">
    <button type="submit">Submit</button>
    <ul id="errorList" name="errorList" > </ul>
    <p class="error" id="error" name="error"{{error}}>{{message}}</p>
</form>