<h2>Task Succesfully created</h2>


<a href="/hrc/hr/getonboarding">
    <button>Assign another task</button>
</a>

<a href="/hrc/hr">

    <button>Homepage</button>
</a>

<a class="page-link" id="logoutLink" href="/hrc/logout">Logout</a>