<h2 {{hideTag}}>Task Succesfully created</h2>

<p id="error" name="error" class="error" {{hidden}}>
    {{message}}
</p>
<button onclick="window.location.href='/hrc/hr/getonboarding'">Assign another task</button>

<button onclick="window.location.href='/hrc/hr'">Homepage</button>

<a class="page-link" id="logoutLink" href="/hrc/logout">Logout</a>