<h2>Task Succesfully created</h2>


<button onclick="window.location.href='/hrc/hr/getonboarding'">Assign another task</button>

<button onclick="window.location.href='/hrc/hr'">Homepage</button>

<a class="page-link" id="logoutLink" href="/hrc/logout">Logout</a>