<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/styles.css"/>
  </head>

  <body>
    <header>
        <h1>HR:Central</h1>
        {{#if isLoggedIn}}
          <div id="logoutBtn" name="logoutBtn" class="logoutBtn">
            <button onclick="window.location.href='/hrc/logout'">Logout</button>
          </div>
        {{/if}}
    </header>
    <main>
      {{{body}}}
    </main>

    <footer class="footer">@hrcentral.org</footer>
  </body>

</html>