<h2>Your account has been Deactivated</h2>
<h3 class = "details">Thank You for your services!</h3>
<h3 class = "details">All the best for your Future Endeavours!!</h3>

<button onclick="window.location.href='/hrc/login'">Login Page</button>