{{!--

logout handlebar template

--}}

<div class="logoutView">
    {{!-- <a href="/hrc/login" target="_self" rel="Login" class="page-link">Click here to login!</a> --}}
    <h2 id="message" name="message">You have been logged out!</h2>
    <button class="backButton" onclick="window.location.href='/hrc/login'" id="loginPage" name="loginPage">Go To Login
        Page</button>

</div>