{{!--

logout handlebar template

--}}

<div class="logoutView">
    {{!-- <a href="/hrc/login" target="_self" rel="Login" class="page-link">Click here to login!</a> --}}
     <p id="message" name="message">You have been logged out!</p>
    <button onclick="window.location.href='/hrc/login'" id="loginPage" name="loginPage">Go To Login Page</button>
   
</div>