{{!--

logout handlebar template

--}}

<div class="logoutView">
    <a href="/hrc/login" target="_self" rel="Login" class="page-link">Click here to login!</a>
    <p id="message">You have been logged out!</p>
</div>