<p>Form Successfully submitted</p>
<button onclick="window.location.href='/hrc/employee/leaveReq/form'">Go Back</button>
<button onclick="window.location.href='/hrc/employee/leaveReq/leaveRecord'">Check All the Leave Records</button>