<h1>Welcome {{firstName}}</h1>
<h5>You are logged in as {{role}}</h5>

<nav class="sidebar">
    <a href="/hrc/admin/addEmp"><button id="createUserBtn">Create New User</button>
    </a>
</nav>
<a class="page-link" id="hrLink" href="/hrc/employee">Employee Page</a><br>
<a class="page-link" id="logoutLink" href="/hrc/logout">Logout</a>